d-article {
  font-weight: 300;
}

.distill-site-nav {
  animation:backgroundtransition 100s;
  -moz-animation:backgroundtransition 100s infinite; /* Firefox */
  -webkit-animation:backgroundtransition 100s infinite; /* Safari and Chrome */
}

@-moz-keyframes backgroundtransition /* Firefox */ {
   0%   {background: #B71C1C;} /* red */
   10%  {background: #311b92;} /* deep purlple */
   20%  {background: #0D47A1;} /* blue */
   30%  {background: #004D40;} /* teal */
   40%  {background: #212121;} /* grey */
   50%  {background: #1A237E;} /* indigo */
   60%  {background: #33691E;} /* ligth green */
   70%  {background: #006064;} /* cyan */
   80%  {background: #827717;} /* lime */
   90%  {background: #263238;} /* blue gray*/
   100% {background: #B71C1C;} /* red */
}

@-webkit-keyframes backgroundtransition /* Safari and Chrome */ {
   0%   {background: #B71C1C;} /* red */
   10%  {background: #311b92;} /* deep purlple */
   20%  {background: #0D47A1;} /* blue */
   30%  {background: #004D40;} /* teal */
   40%  {background: #212121;} /* grey */
   50%  {background: #1A237E;} /* indigo */
   60%  {background: #33691E;} /* ligth green */
   70%  {background: #006064;} /* cyan */
   80%  {background: #827717;} /* lime */
   90%  {background: #263238;} /* blue gray*/
   100% {background: #B71C1C;} /* red */
}

/* https://codepen.io/sdthornton/pen/wBZdXq */
.distill-site-header {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* thunder animation */
/* from http://jsrocks.org/ */
.fab:hover, .fa:hover, .fas:hover {
    animation-name: thunder;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    -webkit-animation-name: thunder;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
     transition: all 150ms ease 0s;
}

@keyframes thunder{
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
}

@-webkit-keyframes thunder{
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
}


/* subscribe button */
.sbt {
  color: black;
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  padding: 0px;
}